### Jekyll ###
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
Gemfile.lock
vendor

### Gulp ###
package.json
/node_modules/

### Atom ###
.ftpconfig
.sftpconfig

### Compiled Source ###
*.com
*.class
*.dll
*.exe
*.o
*.so

### Compressed Packages ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

### Logs and Databases ###
*.log
*.sql
*.sqlite

### Linux ###
*~
.fuse_hidden*
.Trash-*
.nfs*
