{% assign n=0 %}
{% assign size-n=include.size | times: 1 %}
{% assign per-row=12 | divided_by: size-n | floor %}

{% for item in include.items %}

  {% assign media-height=item.media-height | default: include.media-height | default: site.media-height %}
  {% assign object-fit=item.object-fit | default: include.object-fit | default: 'cover' %}

  {% assign n=n | plus: 1 %}
  {% assign row-start=n | modulo: per-row %}
  {% assign row-end= n | plus: 1 | modulo: per-row %}

  {% if row-start == 1 %}
   <div class="row">
  {% endif %}

    <div class="large-{{ size-n }} columns">

     {% if item.permalink %}<a href="{{ item.permalink }}">{% endif %}
      <div>

       {% include _vimeo.html vimeo=item.vimeo media-height=media-height %}

       {% include _youtube.html youtube=item.youtube media-height=media-height %}

       {% include _prezi.html id=item.prezi-id name=item.prezi-name %}

       {% include _iframe.html src=item.iframe %}

       {% include _audio.html audio=item.audio %}

       {% if item.image %}
        <img style="height: {{ media-height }}px; width: 100%; object-fit: {{ object-fit }};" src="{{ site.urlimg }}{{ item.image }}" />
       {% endif %}

       <h3>{{ item.title }}</h3>
      </div>
      {% if item.permalink %}</a>{% endif %}

      {% if item.meta_description %}{{ item.meta_description }}{% elsif item.content %}{{ item.content }}{% endif %}

     <p>&nbsp;</p>
    </div>

  {% if row-end == 1 %}
   </div>
  {% endif %}

{% endfor %}

{% if row-end != 1 and n != 0 %}
</div>
{% endif %}
